body {
    background-color: #FCFCFC !important;

    ::-webkit-scrollbar {
        width: 8px;
    }
      
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #BCBCBC;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #AAAAAA;
    }
}

body.dark {
    background-color: #121212 !important;

    ::-webkit-scrollbar {
        width: 8px;
    }
      
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #686868;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #777777;
    }
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/font/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/font/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../public/font/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Consolas';
    src: url('../public/font/Consolas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}